page-user-display {

	li {
		font-size: 15px;
		color: blue;
		background: red;
		font-variant: bold;
	}
	.card-md h1 {
		font-size: 30px;
		color: blue;
		background: yellow;
		padding: none;
	}
	.card-header-md {
		color-profile: inherit;
		padding: 0px;
	}
	.scroll-content {
		background: yellow;
	}
	ion-card-content {
		background: blue;
		border: double;
	}
}
